option_settings:
  aws:elasticbeanstalk:application:environment:
    ANGEL_ONE_CLIENT_CODE: P176266
    ANGEL_ONE_API_KEY: ecukV7DU
    VITE_COGNITO_USER_POOL_ID: eu-north-1_rXrrnI6cZ
    VITE_COGNITO_APP_CLIENT_ID: 65plb5ei051fh8qr52mispdqq
    VITE_COGNITO_DOMAIN: tradingplatform-531503.auth.eu-north-1.amazoncognito.com
    AWS_COGNITO_USER_POOL_ID: eu-north-1_rXrrnI6cZ
    AWS_COGNITO_APP_CLIENT_ID: 65plb5ei051fh8qr52mispdqq
    AWS_S3_BUCKET: neofeed-profile-images
