option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    NODE_OPTIONS: "--max-old-space-size=512 --enable-source-maps"
  aws:elasticbeanstalk:command:
    DeploymentPolicy: "RollingWithAdditionalBatch"
    BatchSizePercent: 25
    BatchSize: 1
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    MaxBatchSize: 1
    MinInstancesInService: 1
    RollingUpdateType: "Health"
    Timeout: "PT30M"