option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    AWS_REGION: eu-north-1
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:command:
    Timeout: '600'
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health
