option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start"
    ProxyServer: "none"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NODE_PATH: /var/app/current/node_modules
